<form class="login--form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="auth--header">Авторизация</h2>

  <krate-input
    type="email"
    placeholder="Ваш Email"
    size="large"
    formControlName="email"
    [invalid]="email.invalid && isSubmitted"
    [class.input__margin]="!(email.invalid && isSubmitted)"
  ></krate-input>

  <p
    class="email--error"
    [class.visible]="email.invalid && isSubmitted"
  >
    Неверный формат Email
  </p>

  <krate-input
    type="password"
    placeholder="Ваш пароль"
    size="large"
    formControlName="password"
    [invalid]="password.invalid && isSubmitted"
    [class.input__margin]="!(password.invalid && isSubmitted)"
  ></krate-input>

  <p
    class="password--error"
    [class.visible]="password.invalid && isSubmitted"
  >
    Пароль должен быть не менее 8 символов
  </p>

  <krate-button
    label="Войти"
    type="submit"
    size="large"
  ></krate-button>

  <p
    class="auth--error"
    [class.visible]="isInputWrong"
  >
    Неверный логин или пароль
  </p>
</form>
