.header-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 1000;
  display: flex;
  background-color: var(--header-background);
  padding: 15px;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-shrink: 0;
  user-select: none;
  gap: 15px;
  align-items: center;

  &--link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
  }

  &--name {
    font-family: 'Rubik', serif;
    color: var(--header-text);
    font-size: 22px;
    letter-spacing: 1px;
  }
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  user-select: none;

  &--button, &--button__mobile {
    font-family: 'Commissioner', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--header-text);
    padding: 9px 20px;
    border-radius: 5px;
    background-color: var(--header-background);
    border: 2px solid var(--header-background);
    outline-color: var(--header-text);
    transition:
      border var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
      background-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
      color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
      cursor: pointer;
      border: 2px solid var(--header-accent);
    }

    &.active {
      color: var(--header-background);
      border: 2px solid var(--header-accent);
      background-color: var(--header-accent);
    }
  }
}

.drawer-toggle {
  display: none;

  &--icon {
    fill: var(--header-subtext);
    transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .header-nav--button {
    display: none;
  }

  .drawer-toggle {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--header-background);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--outline);
    cursor: pointer;

    &:hover .drawer-toggle--icon {
      fill: var(--header-text);
    }
  }
}
