<div class="default--wrapper">
  @if (username && email) {
    <krate-card>
      <div class="card--wrapper">
        <h1 class="profile--username">{{ username }}</h1>
        <p class="profile--email">Email: {{ email }}</p>

        <div class="theme">
          <p class="theme-text">Текущая тема: </p>
          <theme-switcher></theme-switcher>
        </div>

        @if (role === 'admin') {
          <krate-button
            label="Создать новый курс"
            type="button"
            size="large"
            class="btn__margin"
            (click)="openModal()"
          ></krate-button>
        }

        <krate-button
          label="Выйти"
          type="button"
          size="large"
          (click)="logout()"
        ></krate-button>
      </div>
    </krate-card>
  } @else {
    <krate-card>
      <div class="card--wrapper">
        <ngx-skeleton-loader
          [theme]="{ height: '40px', width: '200px', 'background-color': 'var(--loader-color)'}"
          animation="pulse"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          [theme]="{ height: '20px', width: '200px', 'background-color': 'var(--loader-color)' }"
          animation="pulse"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          [theme]="{ height: '55px', 'background-color': 'var(--loader-color)' }"
          animation="pulse"
          class="loader__btn"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          [theme]="{ height: '55px', margin: '0', 'background-color': 'var(--loader-color)' }"
          animation="pulse"
        ></ngx-skeleton-loader>
      </div>
    </krate-card>
  }
</div>

<modal
  [isOpen]="isModalOpen"
  [title]="'Создание нового курса'"
  (closed)="isModalOpen = false"
>
  <form class="new-course--form" [formGroup]="newCourseForm" (ngSubmit)="onSubmit()">
    <label class="field--desc">Название курса:<strong class="required">*</strong></label>
    <krate-input
      type="text"
      placeholder="Введите название"
      size="large"
      formControlName="name"
      [invalid]="name.invalid && isSubmitted"
      [class.input--field]="!(name.invalid && isSubmitted)"
    ></krate-input>

    <p
      class="name--error"
      [class.visible]="name.invalid && isSubmitted"
    >
      Название курса должно быть не менее двух символов
    </p>

    <label for="desc" class="field--desc">Описание курса:</label>
    <krate-textarea
      placeholder="Введите описание"
      size="large"
      id="desc"
      formControlName="description"
      class="input--field"
    ></krate-textarea>

    <krate-button
      label="Создать курс"
      type="submit"
      size="large"
    ></krate-button>
  </form>
</modal>
