<div class="default--wrapper">
  @if (username && email) {
    <krate-card>
      <div class="card--wrapper">
        <h1 class="profile--username">{{ username }}</h1>
        <p class="profile--email">Email: {{ email }}</p>

        <theme-switcher class="btn__margin"></theme-switcher>

        @if (role === 'admin') {
          <krate-button
            label="Создать новый курс"
            type="button"
            size="large"
            routerLink="/edit/new-course"
            routerLinkActive="active"
            class="btn__margin"
          ></krate-button>
        }

        <krate-button
          label="Выйти"
          type="button"
          size="large"
          (click)="logout()"
        ></krate-button>
      </div>
    </krate-card>
  } @else {
    <krate-card>
      <div class="card--wrapper">
        <ngx-skeleton-loader
          [theme]="{ height: '40px', width: '200px', 'background-color': 'var(--loader-color)'}"
          animation="pulse"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          [theme]="{ height: '20px', width: '200px', 'background-color': 'var(--loader-color)' }"
          animation="pulse"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          [theme]="{ height: '55px', 'background-color': 'var(--loader-color)' }"
          animation="pulse"
          class="loader__btn"
        ></ngx-skeleton-loader>

        <ngx-skeleton-loader
          [theme]="{ height: '55px', margin: '0', 'background-color': 'var(--loader-color)' }"
          animation="pulse"
        ></ngx-skeleton-loader>
      </div>
    </krate-card>
  }
</div>
