.default--wrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  transition: color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

.card--wrapper {
  display: flex;
  flex-direction: column;
}

.profile--username {
  margin-bottom: 4px;
}

.profile--email {
  color: var(--subtext);
  margin-bottom: 30px;
}

.btn__margin {
  margin-bottom: 10px;
}

.loader__btn {
  width: 350px;
  height: 55px;
  margin-bottom: 10px;
  transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: width 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.theme-text {
  text-align: center;
}

.new-course--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.required {
  color: var(--error);
  margin-left: 2px;
}

.field--desc {
  text-align: left;
  margin-bottom: 4px;
  cursor: text;
  width: 350px;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.input--field {
  margin-bottom: 15px;
}

.name--error {
  text-align: left;
  color: var(--error);
  display: none;
  font-size: 15px;
  max-width: 350px;
  margin: 2px 0 12px;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.visible {
  display: block;
}

@media screen and (max-width: 425px) {
  .loader__btn {
    width: 300px;
  }

  .theme {
    width: 300px;
  }

  .name--error,
  .field--desc {
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .loader__btn {
    width: 250px;
  }

  .theme {
    width: 250px;
  }

  .name--error,
  .field--desc {
    max-width: 250px;
  }
}
