.drag-list {
  width: 100%;
  border: 2px solid var(--text);
  border-radius: 5px;
}

.drag-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: var(--card-background);
  border-bottom: 1px solid var(--text);

  &--content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--button {
    box-sizing: content-box;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 15px;
    background-color: var(--card-background);
    color: var(--text);
    border-radius: 5px;
    border: 2px solid var(--card-background);
    cursor: pointer;
    transition: border-color 0.1s cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
      border: 2px solid var(--accent-green);
    }
  }

  &:first-child {
    border-radius: 3px 3px 0 0;
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
  }

  &:first-child:last-child {
    border-radius: 3px;
  }
}

.item-content {
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 12px;
}

.disabled {
  color: var(--subtext);
}

.disabled-button {
  color: var(--subtext);
  cursor: default;

  &:hover {
    border: 2px solid var(--card-background);
  }
}

.order-badge {
  min-width: 25px;
  height: 25px;
  background-color: var(--close-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.drag-handle {
  opacity: 0.5;
  cursor: move;
  padding: 0 12px 0 0;
}

.drag-handle--container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  fill: var(--subtext);
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1);
}

.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1);
}
