button {
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--text);
  font-family: 'Commissioner', sans-serif;
  font-weight: 600;
  outline: none;
  transition:
    font-size 0.2s cubic-bezier(0.33, 1, 0.68, 1),
    background-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--text);
  border-radius: 5px;
  align-content: center;
  height: 55px;
  background-color: var(--card-background);
  color: var(--text);
  transform: translateY(-2px);
  transition:
    transform 0.2s cubic-bezier(0.33, 1, 0.68, 1),
    width 0.2s cubic-bezier(0.33, 1, 0.68, 1),
    background-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
    border-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
    color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

button:hover .button_top {
  transform: translateY(-4px);
}

button:active .button_top {
  transform: translateY(0);
}

.btn__small {
  width: 250px;
  font-size: 15px;
}

.btn__medium {
  width: 300px;
}

.btn__large {
  width: 350px;
}

@media screen and (max-width: 425px) {
  .btn__large {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  button {
    font-size: 15px;
  }

  .btn__medium,
  .btn__large {
    width: 250px;
  }
}
