:host {
  display: block;
  height: 100vh;
}

.not-found--wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.not-found--msg {
  font-size: 4rem;
  color: var(--text);
}
