<form class="registration--form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h2 class="registration--header">Регистрация</h2>

  <krate-input
    type="email"
    placeholder="Ваш Email"
    size="large"
    autocomplete="email"
    formControlName="email"
    [invalid]="(email.invalid || isEmailTaken) && isSubmitted"
    [class.input__margin]="!((email.invalid || isEmailTaken) && isSubmitted)"
  ></krate-input>

  <p
    class="email--error"
    [class.visible]="email.invalid && isSubmitted"
  >
    Неверный формат почты
  </p>

  <p
    class="email--error_taken"
    [class.visible]="isEmailTaken"
  >
    Эта почта уже занята
  </p>

  <krate-input
    type="text"
    placeholder="Ваш никнейм"
    size="large"
    autocomplete="nickname"
    formControlName="username"
    [invalid]="username.invalid && isSubmitted"
    [class.input__margin]="!(username.invalid && isSubmitted)"
  ></krate-input>

  <p
    class="name--error"
    [class.visible]="username.invalid && isSubmitted"
  >
    Никнейм должен быть написан на латинице, начинаться с буквы, а его длина от 2 до 20 символов
  </p>

  <krate-input
    type="password"
    placeholder="Ваш пароль"
    size="large"
    autocomplete="new-password"
    formControlName="password"
    [invalid]="password.invalid && isSubmitted"
    [class.input__margin]="!(password.invalid && isSubmitted)"
  ></krate-input>

  <p
    class="password--error"
    [class.visible]="password.invalid && isSubmitted"
  >
    Пароль должен быть не менее 8 символов
  </p>

  <krate-input
    type="password"
    placeholder="Подтвердите пароль"
    size="large"
    autocomplete="new-password"
    formControlName="passwordConfirm"
    [invalid]="registrationForm.hasError('passwordMismatch') && isSubmitted"
    [class.input__margin]="!(registrationForm.hasError('passwordMismatch') && isSubmitted)"
  ></krate-input>

  <p
    class="confirmation--error"
    [class.visible]="registrationForm.hasError('passwordMismatch') && isSubmitted"
  >
    Пароли не совпадают
  </p>

  <krate-button
    label="Зарегистрироваться"
    type="submit"
    size="large"
    class="btn--submit"
  ></krate-button>

  <p class="suggest--login">
    Уже есть аккаунт?
    <a class="text--link" routerLink="/auth/login" routerLinkActive="active" ariaCurrentWhenActive="page">
      Войти
    </a>
  </p>
</form>


