:host {
  display: block;
  height: 100vh;
}

.default--wrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  transition: color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

.default--logo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.default--name {
  font-family: 'Rubik', serif;
  font-size: 38px;
  color: var(--heading);
  transition: color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
}

.default--desc {
  text-align: center;
  margin-bottom: 25px;
  max-width: 350px;
  transition: font-size 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.default--buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.svg_bg {
  fill: var(--logo-background);
  transition: var(--switch-theme-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.svg_box {
  fill: var(--logo-box);
  transition: var(--switch-theme-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 425px) {
  .default--desc {
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .default--desc {
    max-width: 250px;
    font-size: 15px;
  }
}
