:host {
  display: block;
  height: 100vh;
}

.default--wrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', serif;
  color: var(--text);
  transition: color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

.default-container {
  border: 3px solid var(--text);
  background-color: var(--card-background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 30px;
  transition:
    padding 0.2s cubic-bezier(0.33, 1, 0.68, 1),
    background-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
    border-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}
