* {
  margin: 0;
  padding: 0;
}

html, body {
   color: var(--text);
   font-family: "Commissioner", sans-serif;
   font-weight: 400;
   transition: color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
 }

:root {
  --background: #F4F4F6;
  --accent-green: #2DCC8C;
  --card-background: #FFFFFF;
  --text: #222222;
  --heading: #222222;
  --subtext: #646464;
  --outline: #333333;
  --error: #F25F5C;
  --link: #25A773;

  --diff-simple: #48AF38;
  --diff-medium: #FFB74B;
  --diff-hard: #FF3C38;

  --logo-box: #F4F4F6;
  --logo-background: #222222;

  --loader-color: #ececec;

  --code-highlight: #ebebeb;
  --code-border: #e0e0e0;
  --code-inline-color: #166445;

  --modal-background: rgba(0, 0, 0, 0.5);
  --close-background: #F4F4F6;
  --close-content: #8F8F8F;
  --close-content-hover: #333333;

  --result-correct-bg: #ABEDD3;
  --result-correct-border: #2DCC8C;
  --result-correct-text: #156545;
  --result-wrong-bg: #F9B5B4;
  --result-wrong-border: #F25F5C;
  --result-wrong-text: #710B09;

  --header-background: #222222;
  --header-accent: #2DCC8C;
  --header-text: #F4F4F6;
  --header-subtext: #8F8F8F;
  --header-button-outline: #333333;

  --switch-theme-duration: 0.3s;
}

.dark-theme {
  --background: #2A2A2A;
  --accent-green: #2DCC8C;
  --card-background: #222222;
  --text: #CCCCCC;
  --heading: #F4F4F6;
  --subtext: #646464;
  --outline: #333333;
  --error: #F25F5C;
  --link: #1D865C;

  --diff-simple: #48AF38;
  --diff-medium: #FFB74B;
  --diff-hard: #FF3C38;

  --logo-box: #222222;
  --logo-background: #F4F4F6;

  --loader-color: #333333;

  --code-highlight: #1F1F1F;
  --code-border: #333333;
  --code-inline-color: #1D865C;

  --modal-background: rgba(0, 0, 0, 0.5);
  --close-background: #2A2A2A;
  --close-content: #8F8F8F;
  --close-content-hover: #F4F4F6;

  --result-correct-bg: #0A3323;
  --result-correct-border: #1A7551;
  --result-correct-text: #35D495;
  --result-wrong-bg: #3F1316;
  --result-wrong-border: #C7434B;
  --result-wrong-text: #D06267;
}
