* {
  margin: 0;
  padding: 0;
}

html, body {
   color: var(--text);
   font-family: "Commissioner", sans-serif;
   font-weight: 400;
   transition: color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
 }

:root {
  --background: #F4F4F6;
  --accent-green: #2DCC8C;
  --card-background: #FFFFFF;
  --text: #222222;
  --heading: #222222;
  --subtext: #646464;
  --outline: #333333;
  --error: #F25F5C;
  --link: #25A773;

  --diff-simple: #48AF38;
  --diff-medium: #FFB74B;
  --diff-hard: #FF3C38;

  --logo-box: #F4F4F6;
  --logo-background: #222222;

  --loader-color: #ececec;

  --header-background: #222222;
  --header-accent: #2DCC8C;
  --header-text: #F4F4F6;
  --header-subtext: #8F8F8F;
  --header-button-outline: #333333;

  --switch-theme-duration: 0.3s;
}

.dark-theme {
  --background: #2A2A2A;
  --accent-green: #2DCC8C;
  --card-background: #222222;
  --text: #CCCCCC;
  --heading: #F4F4F6;
  --subtext: #646464;
  --outline: #333333;
  --error: #F25F5C;
  --link: #1D865C;

  --diff-simple: #48AF38;
  --diff-medium: #FFB74B;
  --diff-hard: #FF3C38;

  --logo-box: #222222;
  --logo-background: #F4F4F6;

  --loader-color: #333333;
}
