* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Rubik', serif;
  transition:
    background-color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1),
    color var(--switch-theme-duration) cubic-bezier(0.33, 1, 0.68, 1);
}

:root {
  --background: #F4F4F6;
  --accent-green: #2DCC8C;
  --card-background: #FFFFFF;
  --text: #222222;
  --heading: #222222;
  --subtext: #646464;
  --outline: #333333;
  --error: #F25F5C;

  --diff-simple: #48AF38;
  --diff-medium: #FFB74B;
  --diff-hard: #FF3C38;

  --svg-box: #F4F4F6;
  --svg-background: #222222;

  --header-background: #222222;
  --header-accent: #2DCC8C;
  --header-text: #F4F4F6;
  --header-subtext: #8F8F8F;
  --header-button-outline: #333333;

  --switch-theme-duration: 0.3s;
}

.dark-theme {
  --background: #2A2A2A;
  --accent-green: #2DCC8C;
  --card-background: #222222;
  --text: #CCCCCC;
  --heading: #F4F4F6;
  --subtext: #646464;
  --outline: #333333;
  --error: #F25F5C;

  --diff-simple: #48AF38;
  --diff-medium: #FFB74B;
  --diff-hard: #FF3C38;

  --svg-box: #222222;
  --svg-background: #F4F4F6;
}
