@if (projectName) {
  <div class="wrapper">
    <div class="edit__name">
      <div class="name-wrapper">
        <h1 class="project-name">
          {{ projectName }}
          <button class="project-name__button" type="button" (click)="openModal('name')">
            <svg width="23" height="23" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="project-name__edit" d="M15.2439 4.86101L12.1377 1.75389C11.8599 1.47596 11.4075 1.47596 11.1296 1.75389L1.98891 10.8972C1.8678 11.0183 1.79299 11.1787 1.78231 11.3497L1.54719 14.692C1.53294 14.8987 1.60775 15.0982 1.7538 15.2443C1.88916 15.3797 2.07084 15.4545 2.25607 15.4545H2.30595L5.64728 15.2193C5.81827 15.2087 5.97857 15.1338 6.09969 15.0127L15.2404 5.86938C15.5254 5.58788 15.5254 5.13893 15.2439 4.86101ZM5.28397 13.8155L3.02547 13.9758L3.18578 11.7167L9.40554 5.49515L11.5037 7.59393L5.28397 13.8155ZM12.5153 6.5856L10.4171 4.48682L11.6389 3.26463L13.7371 5.36341L12.5153 6.5856Z" />
            </svg>
          </button>
        </h1>
      </div>
      <krate-button
        label="Удалить проект"
        type="button"
        size="medium"
        (click)="openModal('delete')"
      ></krate-button>
    </div>

    <div class="edit__description">
      <p class="project-description">
        @if (projectDescription) {
          {{ projectDescription }}
          <button class="project-description__button" type="button" (click)="openModal('description')">
            <svg width="23" height="23" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="project-description__edit" d="M15.2439 4.86101L12.1377 1.75389C11.8599 1.47596 11.4075 1.47596 11.1296 1.75389L1.98891 10.8972C1.8678 11.0183 1.79299 11.1787 1.78231 11.3497L1.54719 14.692C1.53294 14.8987 1.60775 15.0982 1.7538 15.2443C1.88916 15.3797 2.07084 15.4545 2.25607 15.4545H2.30595L5.64728 15.2193C5.81827 15.2087 5.97857 15.1338 6.09969 15.0127L15.2404 5.86938C15.5254 5.58788 15.5254 5.13893 15.2439 4.86101ZM5.28397 13.8155L3.02547 13.9758L3.18578 11.7167L9.40554 5.49515L11.5037 7.59393L5.28397 13.8155ZM12.5153 6.5856L10.4171 4.48682L11.6389 3.26463L13.7371 5.36341L12.5153 6.5856Z" />
            </svg>
          </button>
        } @else {
          Добавьте описание
          <button class="project-description__button" type="button" (click)="openModal('description')">
            <svg width="23" height="23" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="project-description__edit" d="M15.2439 4.86101L12.1377 1.75389C11.8599 1.47596 11.4075 1.47596 11.1296 1.75389L1.98891 10.8972C1.8678 11.0183 1.79299 11.1787 1.78231 11.3497L1.54719 14.692C1.53294 14.8987 1.60775 15.0982 1.7538 15.2443C1.88916 15.3797 2.07084 15.4545 2.25607 15.4545H2.30595L5.64728 15.2193C5.81827 15.2087 5.97857 15.1338 6.09969 15.0127L15.2404 5.86938C15.5254 5.58788 15.5254 5.13893 15.2439 4.86101ZM5.28397 13.8155L3.02547 13.9758L3.18578 11.7167L9.40554 5.49515L11.5037 7.59393L5.28397 13.8155ZM12.5153 6.5856L10.4171 4.48682L11.6389 3.26463L13.7371 5.36341L12.5153 6.5856Z" />
            </svg>
          </button>
        }
      </p>
    </div>

    <div class="edit__theory">
      <h2 class="edit__theory--heading">Задание</h2>

      <editor
        [init]="editorConfig"
        [(ngModel)]="projectTask"
        class="edit__theory--editor"
      ></editor>

      <krate-button
        [label]="'Сохранить'"
        [type]="'submit'"
        [size]="'medium'"
        (click)="saveTask()"
        class="edit__theory--button"
      ></krate-button>
    </div>

    <div class="edit__test">
      <h2 class="edit__test--heading">Тесты</h2>

      <monaco-editor
        [language]="'python'"
        [(ngModel)]="projectTest"
      ></monaco-editor>

      <krate-button
        [label]="'Сохранить'"
        [type]="'submit'"
        [size]="'medium'"
        (click)="saveTest()"
        class="edit__theory--button"
      ></krate-button>
    </div>

    <div class="edit__lessons">
      <h2 class="edit__lessons--heading">Уроки проекта</h2>

      <list
        [items]="lessonsList"
        [type]="'checkbox'"
        [selectedItems]="activeList"
        (onSelect)="itemSelect($event)"
      ></list>

      <krate-button
        [label]="'Сохранить'"
        [type]="'submit'"
        [size]="'medium'"
        (click)="saveLessons()"
        class="edit__theory--button"
      ></krate-button>
    </div>

  </div>
}

<modal
  [isOpen]="isModalOpen"
  [title]="modalHeading"
  (closed)="onModalClose()"
>
  @switch (modalType) {
    @case ('name') {
      <form class="edit-form" [formGroup]="editNameForm" (ngSubmit)="onSubmit(modalType)">
        <label class="field--desc">Новое название:</label>
        <krate-input
          type="text"
          placeholder="Введите название"
          size="large"
          formControlName="name"
          [invalid]="name.invalid && isSubmitted"
          [customValue]="projectName"
          [class.input--field]="!(name.invalid && isSubmitted)"
        ></krate-input>

        <p
          class="name--error"
          [class.visible]="name.invalid && isSubmitted"
        >
          Название проекта должно быть не менее двух символов
        </p>

        <krate-button
          label="Изменить название"
          type="submit"
          size="large"
        ></krate-button>
      </form>
    }
    @case ('description') {
      <form class="edit-form" [formGroup]="editDescriptionForm" (ngSubmit)="onSubmit(modalType)">
        <label class="field--desc">Новое описание:</label>
        <krate-textarea
          placeholder="Введите описание"
          size="large"
          id="desc"
          formControlName="description"
          [customValue]="projectDescription"
          class="input--field"
        ></krate-textarea>

        <krate-button
          label="Изменить описание"
          type="submit"
          size="large"
        ></krate-button>
      </form>
    }
    @case ('delete') {
      <form class="edit-form" [formGroup]="deleteProjectForm" (ngSubmit)="onSubmit(modalType)">
        <label class="field--desc">Название проекта:</label>
        <krate-input
          type="text"
          placeholder="Введите название"
          size="large"
          formControlName="repeatName"
          [invalid]="repeatName.invalid && isSubmitted"
          [class.input--field]="!(repeatName.invalid && isSubmitted)"
        ></krate-input>

        <p
          class="name--error"
          [class.visible]="repeatName.invalid && isSubmitted"
        >
          Введенный текст не совпадает с названием проекта
        </p>

        <krate-button
          label="Удалить проект"
          type="submit"
          size="large"
        ></krate-button>
      </form>
    }
  }
</modal>
