.footer-wrapper {
  box-sizing: border-box;
  height: 70px;
  z-index: 1000;
  background-color: var(--header-background);
  padding: 21px 0;
}

.footer-copyright {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--header-text);
  font-weight: 500;
  max-width: 60vw;
  margin: 0 auto;
}
