.course-wrapper {
  width: 1132px;
}

.edit__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.edit__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  gap: 5px;
}

.loader__description {
  margin-bottom: 25px;
  max-width: 1132px;
}

.course-name {
  font-size: 48px;
  box-sizing: content-box;
  font-weight: 800;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    height: 23px;
  }

  &__edit {
    fill: var(--subtext);
  }
}

.course-description {
  font-size: 32px;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    height: 23px;
  }

  &__edit {
    fill: var(--subtext);
  }
}

.projects--header,
.lessons--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  &__heading {
    font-size: 48px;
    font-weight: 800;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.no-content__msg {
  font-size: 20px;
  color: var(--error);
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field--desc {
  text-align: left;
  margin-bottom: 4px;
  cursor: text;
  width: 350px;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.input--field {
  margin-bottom: 15px;
}

.name--error {
  text-align: left;
  color: var(--error);
  display: none;
  font-size: 15px;
  width: 350px;
  margin: 2px 0 12px;
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.visible {
  display: block;
}

.difficulty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .course-wrapper {
    width: 748px;
  }

  .course-description {
    font-size: 24px;
  }

  .course-name,
  .projects--header__heading,
  .lessons--header__heading {
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .course-wrapper {
    width: 364px;
  }

  .name-wrapper {
    margin-bottom: 25px;
  }

  .edit__name {
    flex-direction: column;
  }

  .projects--header,
  .lessons--header {
    flex-direction: column;

    &__heading {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 425px) {
  .name--error,
  .field--desc {
    max-width: 300px;
  }

  .course-wrapper {
    width: 344px;
  }

  .difficulty {
    width: 300px;
  }

  .course-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .course-wrapper {
    width: 294px;
  }

  .name--error,
  .field--desc {
    max-width: 250px;
  }

  .difficulty {
    width: 250px;
  }
}
